*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4a4a8e;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color:rgba(225, 246, 252, 0.952);
}
button:hover{
    background-color:rgba(198, 239, 250, 0.952);


}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s;
    padding: 20px;
}

.side-panel.open {
    left: 0;
}
